package views

templ Header() {
	<div>Header</div>
}

templ Footer() {
    <div>Footer</div>
}

templ Meta() {
    <head>
      <meta charset="UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Jeffrey de Lara / Software Engineer </title>
      <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"/>
      <link rel="stylesheet" href="/assets/css/style.css" />
    </head>
}
