package pagesview

import "github.com/jeffdelara/gobase/views"

templ Home() {
    <!DOCTYPE html>
    <html lang="en">
    @views.Meta()
    <body>
        <div class="full">
            <img src="/assets/images/logo.png" class="logo" />
            <h1>Gobase</h1>
        </div>
    </body>
    </html>
}
